#whatsapp .wtsapp {
  position: fixed;
  transform: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  border-right: none;
  color: #fff;
  font-weight: 700;
  font-size: 35px;
  bottom: 40px;
  right: 40px;
  border: 0;
  z-index: 1000;
  width: 50px;
  height: 50px;
  line-height: 50px;
background-color: var(--primary-color);
}

#whatsapp .wtsapp:hover {
  font-weight: 900;
  scale: 105%;
}

#whatsapp .wtsapp:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-animation: pulse-border 2000ms ease-out infinite;
  animation: pulse-border 2000ms ease-out infinite;
}



.bx {
  line-height: none;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
